html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
}

body {
	--bg-deep: #f3ecff;
	--bg-med: #f7eafd;
	--fg-deep: #feffec;
	--fg: #222;
	--accent: #ff0086;

	--gradient-bottom: #9dffcb;
	--gradient-middle: #ae81ff;
	--gradient-top: #15A1FF;

	--headline: #9770ff;
	--outline: var(--gradient-middle);

	color: var(--fg);
	margin: 0;
	font-family: Helvetica;
}

a {
	color: var(--accent);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

button {
	color: var(--accent);
	text-decoration: underline;
	background-color: var(--fg-deep);
	border: none;
	cursor: pointer;
}

input:disabled {
	color: #ccc;
}

@font-face {
	font-family: Dicier;
	src: url("/Dicier-Round-Dark.woff2") format("woff2"), url("/Dicier-Round-Dark.woff") format("woff");
}
